{% extends 'base.html' %}

{% block content %}
  <div class="container z-depth-1 post">
    <header class="z-depth-3">
      <h3>{{ post.title }}</h3>
      <p>posted by <span>{{ post.author }}</span></p>
    </header>
    <section class="z-depth-3">
      <p>
        {{post.body}}
      </p>
      <div class="comments">
        {% for comment in post.comments.all %}
          <div class="comment">
            <span>{{comment.author}} replies:</span>
            <p>
              {{comment.body}}
            </p>
            <footer>
              <a href="/posts/{{post.id}}/comments/{{comment.id}}/edit">Edit</a>
              <!-- <a href="/posts/{{post.id}}/comments/{{comment.id}}/delete">Delete</a> -->
              <form method="POST" action="/posts/{{post.id}}/comments/{{comment.id}}/delete">
                  {% csrf_token %}
                  <button type="submit">Delete</button>
              </form>
            </footer>
          </div>
        {% endfor %}
      </div>
      <p>
        <a href="/posts">Back to Posts</a>
        <a href="/posts/{{post.id}}/comments/new">Comment</a>
        <a href="/posts/{{post.id}}/edit">Edit</a>
        <a href="/posts/{{post.id}}/delete">Delete</a>
      </p>
    </section>
    
  </div>
{% endblock %}
