{% extends 'poststuff/base.html' %}
{% block content %}
  <h2> Post author: {{ post.author }} </h2>
  <h4> Post title: {{ post.title }} </h4>
  <p>Post: {{ post.body }}</p>
  <h3>Comments</h3>
  <ul>
    {% for comment in post.comments.all %}
    <li>Author: {{ comment.author }}</li>
    <li>Comment: {{ comment.body }}</li>
    <li>--------------</li>

    {% endfor %}
  </ul>
  <p><a href="{% url 'post_edit' pk=post.pk %}">EDIT</a></p>
  <p><a href="{% url 'post_delete' pk=post.pk %}">DELETE</a></p>


{% endblock %}